body{
    background: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    
}
.container{
    margin: auto;
    width: 50%; 
    border: solid black;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.game{
   
    margin: 10%;
    padding: 70px;
}
.success{
    color: green;
    font-weight: bolder;
}

.red{
    color: red;
}